<form id="user-mood" action="/users" method="POST">
  <label>Get un-stuck.</label><br />
  <textarea name="thoughts" placeholder="What's going on?"></textarea><br />
  <input type="submit" value="Submit">
</form>