

<div id="spinner-wrapper">
  <div id="spinner-before" class="spinner">
    <div class="red section"></div>
    <div class="blue section"></div>
    <div class="yellow section"></div>
    <div class="orange section"></div>
  </div>
    <form action="/users/<%= user.id %>/spins" method="POST">
      <input id="spin-button" type="submit" value="Click to Spin">
    </form>
</div>