
<div id="spinner-wrapper">
  <div id="spinner-before" class="spinner">
    <div class="red section"></div>
    <div class="blue section"></div>
    <div class="yellow section"></div>
    <div class="orange section"></div>
  </div>


  <%= form_tag({controller: "spins", action: "create"}, method: "post") do %>
    <%= submit_tag("Spin") %>
  <% end %>

</div>